/********** VARIABLES **********/
:root {
    --padding: 10px;
    --img-width: 20px;
}




/********** GENERICS **********/
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

img {
    width: 100%;
}



/********** UTILITIES **********/
.web-app {
    height: 100vh;
}



/********** FLEX **********/
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.grow-1 {
    flex-grow: 1;
}

.wrap {
    flex-wrap: wrap;
}




/********** SPOTIFY CONTENT **********/




/***** ASIDE MENU' *****/
aside {
    background-color: black;
    padding: var(--padding);
    justify-content: space-between;
}

aside img {
    width: var(--img-width);
}

.profile-icons img,
.search-icons img {
    padding-bottom: 10px;
}

.profile-icons img:last-child {
    background-color: #71737a;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    object-fit: cover;
    align-items: center;
}

/***** end ASIDE MENU' *****/



/***** MUSIC PLAYLISTS *****/
main {
    position: relative;
    background-color: #141922;
}


/* UPGRADE VERSIONE */
header {
    background-color: #090b13;
    opacity: 75%;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    padding: var(--padding);
    text-align: right;
}


/* end UPGRADE VERSION */


/*** LOOKING FOR SONGS ***/
.playlist-container {
    overflow-y: auto;
    height: calc(100vh - 100px);
}

/* SEARCH PLAYLISTS */
.playlist-container nav {
    padding: 100px 0px 50px;
}

.playlist-container ul {
    list-style-type: none;
    color: #71737a;
    font-size: .9rem;
}

.playlist-container li {
    padding: 10px;
}

/* end SEARCH PLAYLIST */


/* AVAILABLE PLAYLISTS */



/* end AVAILABLE PLAYLIST */

/*** end LOOKING FOR SONGS ***/



/***** end MUSIC PLAYLISTS *****/


/***** FOOTER *****/
footer {
    background-color: #282828;
    height: 100px;
}




/* temporaneo */

.playlist {
    height: 300vh;
}