/********** VARIABLES **********/
:root {
    --padding-10: 10px;
    --padding-20: 20px;
    --img-width: 20px;
    --bg-black-header: #090b12;
    --bg-black-main: #141922;
    --bg-grey-footer: #282828;
    --bg-grey-profile-icon: #71737a;
    --color-grey-words: #71737a;
    --footer-height: 100px;
}




/********** GENERICS **********/
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

img {
    width: 100%;
}



/********** UTILITIES **********/
.web-app {
    height: 100vh;
}



/********** FLEX **********/
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.grow-1 {
    flex-grow: 1;
}

.wrap {
    flex-wrap: wrap;
}

.row {
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

/********** SPOTIFY CONTENT **********/




/***** ASIDE MENU' *****/
aside {
    background-color: black;
    padding: var(--padding-10);
    justify-content: space-between;
}

aside img {
    width: var(--img-width);
}

.search-icons img {
    padding-bottom: 10px;
}

.profile-icon {
    background-color: var(--bg-grey-profile-icon);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    object-fit: cover;
    align-items: center;
    margin-top: 10px;
}

.profile-icon img {
    padding: 4px;
}

/***** end ASIDE MENU' *****/



/***** MUSIC PLAYLISTS *****/
main {
    position: relative;
    background-color: var(--bg-black-main);
}


/* UPGRADE VERSIONE */
header {
    background-color: var(--bg-black-header);
    opacity: 75%;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    padding: var(--padding-20);
    text-align: right;
}

header a {
    text-decoration: none;
    font-size: .7rem;
    border: 1px solid white;
    border-radius: 20px;
    padding: var(--padding-10) 30px;
    color: white;
    font-weight: bold;
}

/* end UPGRADE VERSION */


/*** LOOKING FOR SONGS ***/
.playlist-container {
    overflow-y: auto;
    height: calc(100vh - var(--footer-height));
}

/* SEARCH PLAYLISTS */
.playlist-container nav {
    padding-top: 80px;
    padding-bottom: var(--padding-20);

}

.playlist-container ul {
    list-style-type: none;
    color: var(--color-grey-words);
    font-size: .7rem;
    font-weight: bold;
}

.playlist-container li {
    padding: var(--padding-10);
}

/* end SEARCH PLAYLIST */


/* AVAILABLE PLAYLISTS */
#most-listened-container h1,
#create-container h1,
#album-container h1 {
    font-size: 1.3rem;
    overflow-y: auto;
    padding: var(--padding-10);
}

#most-listened-container .album-item,
#create-container .album-item,
#album-container .album-item {
    width: calc(100% / 2);
    padding: var(--padding-10);
}

#most-listened-container .album,
#create-container .album,
#album-container .album {
    grid-row-gap: 10px;
}

#most-listened-container h2,
#create-container h2,
#album-container h2 {
    font-size: .7rem;
    text-align: center;
}

#album-container p {
    font-size: .6rem;
    color: var(--color-grey-words);
    text-align: center;
}

#most-listened-container,
#create-container {
    margin-top: 20px;
}

/* end AVAILABLE PLAYLIST */

/*** end LOOKING FOR SONGS ***/


/***** end MUSIC PLAYLISTS *****/




/***** FOOTER *****/
footer {
    background-color: var(--bg-grey-footer);
    height: 80px;
    padding: 5px;
}

footer .in-play {
    width: 30%;
}

footer .music-control {
    width: 40%;
    padding: 0px 10px;
}

footer .volume-control {
    width: 30%;
}

.album-song {
    width: 30%;
}

.song {
    width: 40%;
}

.like {
    width: 30%;
    font-size: .8rem;
}

.like,
.song {
    padding-left: 5px;
    padding-right: 5px;
    align-self: center;
}

.in-play h2 {
    font-size: .8rem;
}

.in-play p {
    font-size: .6rem;
    color: var(--color-grey-words);
}

.play-icons {
    text-align: center;
    font-size: 1.2rem;
}

.music-control .fa-circle-play {
    font-size: 1.5rem;
}

.play-icons i {
    padding: 10px 2px;
}

/* .volume-control i {
    padding: 2px;
} */

.volume-icons {
    width: 100%;
    font-size: .8rem;
}

.volume-control .slider {
    margin: 2px;
    align-self: center;
}

/* volume slider */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: grey;
    opacity: 0.7;
    border-radius: 15px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10%;
    height: 10px;
    background: white;
    cursor: pointer;
    border-radius: 15px;
}


/* temporaneo */

.playlist {
    height: 300vh;
}

/* MEDIUM SCREEN */
@media screen and (min-width: 878px) {
    #album-container .album-item {
        width: calc(100% / 4);
    }
}

/* LARGE SCREEN */
@media screen and (min-width: 1440px) {
    #album-container .album-item {
        width: calc(100% / 6);
    }
}